body {
  background-color: #FFC72C;
}
.display {
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h4 {
  text-decoration: underline;
  text-align: center;
}
p {
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 0;
}

.d3 {
  border:  2px solid lightblue;
  margin-top: 15px;
}

img {
  margin-top: 50px;
  margin-bottom: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}







